@font-face {
  font-family: 'Univers LT Std';
  src: url('../fonts/UniversLTStd-Bold.otf');
  font-weight: 800;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50%{
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }

  50%{
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.small_type{
  font-size: 0.7rem;
}

html{
  font-size: 16px;
  font-family: 'Univers LT Std', serif;
  font-weight: 800;
}

body{
  margin: 2rem;
  transition: background-color ease 0.5s;
}

.video_shown,
.image_shown{
  background-color: #000;
}

.video_shown footer{
  opacity: 0;
}

.video_shown header{
  border: 3px solid transparent;
}

.video_shown header svg{
  fill: #ff0000 !important;
}

.video_shown header svg{
  animation: blink infinite 0.75s;
  -webkit-animation: blink infinite 0.75s;
}

.video_shown #scrolling_text_wrapper{
  position: fixed;
  bottom: 20vh;
  width: 100%;
  left: 0;
  text-align: center;
  /*opacity: 1;*/
}

#scrolling_text_wrapper{
  opacity: 0;
  /*animation: scroll infinite linear 10s;
  -webkit-animation: scroll infinite linear 10s;*/
  z
}

#scrolling_text_wrapper svg{
  fill: #ffffff;
  height: 15vh;
  max-width: 70%;
  transform: scale(1, 4) skew(-30deg);
}

.video_container,
header{
  width: calc(75% - 8rem);
  height: 40vw;
  max-height: calc(100vh - 10rem);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
}

header{
  position: fixed;
  right: 2rem;
  border: 3px solid transparent;
  transition: border ease 0.5s;
  -webkit-transition: border ease 0.5s;
  box-sizing: border-box;
  z-index: 10;
}

header svg{
  position: absolute;
  height: 0.8rem;
  top: 2rem; 
  right: 2rem;
  transition: fill ease 0.5s;
  -webkit-transition: fill ease 0.5s;
}

svg#plant,
svg#industryplant_text{
  position: fixed;
  right: 1rem;
  opacity: 0;
  fill: #ffffff;
  pointer-events: none;
  transition: opacity ease 0.5s;
  -webkit-transition: opacity ease 0.5s;  
}

svg#industryplant_text{
  height: 2rem;
  top: 5.2rem; 
  transform: translateX(-7.85rem);
  -webkit-transform: translateX(-7.85rem);
}

svg#plant{
  height: 2.3rem;
  top: 5rem;
  transform: translateX(-30.28rem);
  -webkit-transform: translateX(-30.28rem);
}

footer{
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  opacity: 1;
  transition: opacity ease 0.5s;
  -webkit-transition: opacity ease 0.5s;
  text-align: right;
  z-index: 12;
}

.project_links{
  padding-left: 0;
  width: calc(25% - 1rem);
  padding-right: 2rem;
  box-sizing: border-box;
}

.project_links li{
  list-style: none;
  display: block;
  margin-bottom: 1rem;
}

.project_links a:link,
.project_links a:visited,
.nick_link:link,
.nick_link:visited{
  color: #000;
  transition: color ease 0.5s;
  -webkit-transition: color ease 0.5s;
  text-decoration: none;
}

.nick_link img{
  position: fixed;
  width: 40%;
  height: 60vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity ease 0.5s;
  -webkit-transition: opacity ease 0.5s;
  z-index: 100;
  pointer-events: none;
}

.rahul_link:link,
.rahul_link:visited{
  color: #000;
  text-decoration: none;
}

.rahul_link:hover{
  text-decoration: underline;
}

.nick_link:hover img,
.nick_link:hover svg{
  opacity: 1 !important;
}

.project_links a:hover,
.nick_link:hover{
  color: #fff;
  text-decoration: underline;
}

.project_links a:hover .video_container{
  opacity: 1;
}

.video_container{
  position: fixed;
  right: 2rem;
  top: 2rem;
  overflow: hidden;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  transition: opacity ease 0.5s;
  -webkit-transition: opacity ease 0.5s;
}

.video_container video{
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%; 
  min-height: 100%; 
  width: 100%; 
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
}

@media (max-width: 1000px){
html{
  font-size: 20px;
}
.video_container,
header{
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 70vw;
  border: 0px solid transparent; 
  border-radius: 0;
  -webkit-border-radius: 0; 
}

header svg{
  fill: #f00;
}
header svg#dot{
  animation: blink infinite 0.75s;
}

main{
  margin-top: calc(70vw + 1rem);
}

.video_container{
  transition: opacity ease 0.5s;
  -webkit-transition: opacity ease 0.5s;
}

.project_link.selected .video_container{
  opacity: 1;
}

a.project_link.selected{
  text-decoration: underline;
}

.project_links{
  width: calc(50% - 1rem);
  padding-right: 0;
}

footer{
  padding-top: 1rem;
  position:static;
  text-align: left;
}
}

@media (max-width: 767px){
html{
  font-size: 14px;
}

header svg{
  position: absolute;
  height: 1.35rem;
  top: 1rem; 
  right: 1rem;
  transition: fill ease 0.5s;
  -webkit-transition: fill ease 0.5s;
  fill: #f00;
}
header svg#dot{
  animation: blink infinite 0.75s;
  transform: translateX(-17.5rem);
}

.project_links{
  width: calc(80% - 1rem);
  padding-right: 0;
}

}